@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap');
/** CSS Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {  
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline; 
 }

 body{
    background-color: hsl(30, 38%, 92%)
 }

 section{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .card{
    border-radius: 3%;
    width: 500px;
    height: 400px;
    display: flex;
    background-color: hsl(0, 0%, 100%);
 }


 .card-image{
    background-image: url('../assets/images/image-product-desktop.jpg');
    width: 55%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 3% 0% 0% 3%;
  }

 .card-body{
    padding: 25px;
    width: 45%;
 }

 .card-body h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    color: hsl(212, 21%, 14%);
    font-size: 27px;
    margin: 20px 0px;
 }

 .card .category{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 5px;
 }

 .card-body p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: hsl(228, 12%, 48%);
    line-height: 17px;
 }

 .card-body .price-info{
   display: flex;
   align-items: center;
   margin: 30px 0px;
 }

 .card-body .price-info .price{
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
 }

 .card-body .price-info .after-price{
    text-decoration: line-through;
    font-size: 12px;
 }


 .card-body .add-button{
    background-color: hsl(158, 36%, 37%);
    color:hsl(0, 0%, 100%) ;
    border: none;
    border-radius:5px;
    padding: 10px 30px;
    cursor: pointer;
    font-family: 'Montserrat', serif;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .card-body .add-button:hover{
    background-color: #313e2d
 }

 .card-body .add-button img{
    margin-right: 10px;
 }

 .attribution{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 15px;
    font-weight: 400;
 }
 
 @media  (max-width:500px) {
    section{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(30, 38%, 92%);
     }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;
        height: 600px;
    }

    .card-body h1{
        font-family: 'Fraunces', serif;
        font-weight: 700;
        color: hsl(212, 21%, 14%);
        font-size: 27px;
        margin: 10px 0px;
     }


    .card-image{
        background-image: url('../assets/images/image-product-mobile.jpg');
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 3% 0% 0% 3%;
      }

      .card-body{
        padding:27px;
        width: 90%;
        height: 500px;
     }

     .attribution{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
     }

     
 }
    